.search-bar .search-box{
    background-image: url('../../images/banner.jpg');
    background-position: center;
    border-bottom: 5px solid crimson;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.search-bar .search-box::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgb(215 90 153 / 85%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.search-bar .form-group{
    flex-direction: column;
    align-items: start;
    color: #ffffff;
}